.meme-list, .meme-template-list {
  padding: 0;
  li {
    list-style-type: none;
    opacity: 0.9;
    display: inline-block;
    &:hover {
      opacity: 1;
      outline: 2px solid lightblue;
    }
  }
}

.meme-list {
  min-height: 150px;
  min-width: 200px;
  max-height: 300px;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 3px;
  li {
    opacity: 1;
    &:hover {
      outline: none;
    }

    .meme {
      display: inline-block;
      position: relative;
    }

    .meme-timestamp {
      display: block;
      position: absolute;
      bottom: -20px;
      margin-bottom: 10px;
    }
  }

}

.meme-template {

  max-width: 500px;
  max-height: 500px;

  &.preview {
    max-width: 150px;
    max-height: 150px;
  }
}
