<div class="meme-content clearfix">
  <a href="/#/meme/{{meme.id}}">
    <img
    ng-src="{{meme.imageUrl}}"
    uib-tooltip="{{meme.description}}" />
    <div class="meme-info">
      <div>
        <a class="author truncate">{{meme.author}}</a>
        <span class="meme-timestamp"
              am-time-ago="{{isoStrToDate(meme.createdAt)}}">&nbsp;</span>
      </div>
      <div class="btn-group voting-buttons">
        <div class="vote-count">
          <i class="badge">
            {{meme.voteCount}}
          </i>
        </div>
        <a class="btn btn-default btn-xs" ng-click="upvote(meme.id)"
           ng-class="{ active: hasVote(meme.id, 1) }">
          <i class="glyphicon glyphicon-thumbs-up"></i>
        </a>
        <a class="btn btn-default btn-xs"
           ng-click="downvote(meme.id)"
           ng-class="{ active: hasVote(meme.id, -1) }">
          <i class="glyphicon glyphicon-thumbs-down"></i>
        </a>
      </div>

    </div>
  </a>
</div>
