<div class="modal fade" tabindex="-1" role="dialog" ng-controller="AuthCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        	<span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">LOGIN</h4>
      </div>
      <div class="modal-body">
      {{username}} {{email}} {{password}}
      <!--Modal Contents-->
      <uib-tabset>
        <uib-tab heading="Login" select="setType('login')">
          <form ng-submit="login()">
            <input type="email" name="email" placeholder="Email" ng-model="formData.email" required/>
            <input type="password" name="password" placeholder="Password" ng-model="formData.password" required/>
            <button>Login</button>
          </form>
        </uib-tab>
        <uib-tab heading="Register" select="setType('register')">
          <form ng-submit="register()">
            <input type="text" name="email" placeholder="Email" ng-model="formData.email" required/>
            <input type="text" name="username" placeholder="Username" ng-model="formData.username" required/>
            <input type="password" name="password" placeholder="Password" ng-model="formData.password" required/>
            <button>Register</button>
          </form>
        </uib-tab>
      </uib-tabset>
      <!--End Modal Contents-->
      </div>
    </div>
  </div>
</div>
