<div>
  <div class="page-header">
    <h1>Popular</h1>
  </div>

  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-default">One Hour</button>
    <button type="button" class="btn btn-default">This Week</button>
    <button type="button" class="btn btn-default">This Month</button>
    <button type="button" class="btn btn-default">All Time</button>
  </div>
  <hr/>
  <ul class="meme-list clearfix">
    <li class="meme clearfix" ng-repeat="meme in memes | orderBy: '-voteCount'" >
      <ng-include src="'/templates/_meme.html'"></ng-include>
    </li>
  </ul>
</div>
